@import url("https://api.fontshare.com/v2/css?f[]=clash-grotesk@700,400,600,500&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
  .box-styler{
    @apply  w-2/3 h-14  border-2 border-black font-semibold flex gap-9 px-6 items-center cursor-pointer 
  }
}